<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>You have successfully created a rescue alert.</title>
</head>
<body>
    <div>Adventure Name: {{ralert.adventure_name}}</div>
    <div>Adventure Start time: {{ralert.adventure_start_time}}</div>
    <div>Adventure End time: {{ralert.adventure_end_time}}</div>
    <div>Adventurer's Name: {{ralert.user.first_name}}</div>
    <div>Adventurer's Email: {{ralert.user.email}}</div>
</body>
</html>