{% extends "layout.html" %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div> {{ message }} </div>
            {% endfor %}
        {% endif %}
{% endwith %}

<div><h3>These are your alerts {{ user.email }}</h3></div>

<ul>
    {% for alert in alerts %}
    <li>
        <div id="{{alert.id}}">
            {{ alert.adventure_name }}   starting on: {{ alert.adventure_start_time}}
            {% if alert.alert_active %}
                ACTIVE                
            {% else %}
                DEACTIVE
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block contact %}
    {% include 'contact.html' %}
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}