{% extends "layout.html" %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div> {{ message }} </div>
            {% endfor %}
        {% endif %}
{% endwith %}

<div>These are your alerts {{ user.email }}</div>


{% for alert in alerts %}
    <div> {{ alert.adventure_name }}   starting on: {{ alert.adventure_start_time}} </div>
{% endfor %}

{% endblock %}

{% block contact %}
    {% include 'contact.html' %}
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}