{% extends "layout.html" %}

{% block script %}
<script type="text/javascript" src="/static/js/list_alerts.js"></script>
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div> {{ message }} </div>
            {% endfor %}
        {% endif %}
{% endwith %}

<div><h3>These are your alerts {{ user.email }}</h3></div>

<ul>
    {% for alert in alerts %}
    <li>
        <div id="{{alert.id}}">
            {{ alert.adventure_name }}   starting on: {{ alert.adventure_start_time}}
            {% if alert.alert_active %}
                ACTIVE   <button class="DeactivateButton btn btn-default" type="button">DE-ACTIVATE</button>
            {% else %}
                DEACTIVE <button class="activateButton btn btn-default" type="button">
                             <span class="glyphicon glyphicon-star" aria-hidden="true"></span>   
                            ACTIVATE
                         </button>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block contact %}
    {% include 'contact.html' %}
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}