<section id="released">
    <div class="container">

        <div class="row">

            <!-- left -->
            <div class="col-md-8">

                <header>
                    <h1><strong>RescueAlert</strong> RELEASED <small>V1.0</small></h1>
                    <p>We'd like to give you peace of mind on your adventures</p>
                </header>

                <article>
                    <!--
                        CONTENT
                    -->
                    <p>Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank. Andouille tongue corned beef rump pork loin shank meatball capicola turducken venison shankle kevin pancetta tri-tip boudin.</p>
                    <p>Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank. Andouille tongue corned beef rump pork loin shank meatball capicola turducken venison <a href="#">shankle kevin pancetta</a> tri-tip boudin.</p>

                    <span class="spacer"><!-- spacer 60px --></span>

                    <!--
                        APPSTORE / GPLAY
                        comming soon
                    -->
                    <img src="static/images/icons/gplay.png" alt="" width="125" height="43" />
                    <img src="static/images/icons/appstore.png" alt="" width="125" height="43" />
                </article>

            </div>


            <!-- right -->
            <div class="col-md-4 nopadding relative">
                <!--
                    IMAGE
                -->
                <figure class="animate_from_bottom hidden-xs top">
                    <img class="img-responsive" src="static/images/preview/content/phone.png" width="358" height="516" alt="" />
                </figure>
            </div>

        </div>

    </div>
</section>