{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}


{% block content %}

<form method=post action="/auth/signup">
    <dl>
        {{ render_field(form.user_name) }}
        {{ render_field(form.password) }}
    </dl>
    <p><input type=submit value=SignUp!>
</form>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}

{% block contact %}
    {% include 'contact.html' %}
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}